/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/

body {
	margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

:root {
  --color: #111;
  --color1: #1e1823;
  --background: #fafafa;
  --orange: #fd9222;
  --hover: #fcf1e0;
  --marker: #4c4c4c;
}

/* 400 */
@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 500 */
@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 600 */
@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* 700 */
@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 700 */
@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-BoldItalic.woff2) format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  padding: 0;

  list-style-type: none;
}

a {
  text-decoration: none;

  color: inherit;
}

button {
  border: none;
  padding: 0;

  background-color: inherit;
}

button:hover {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;

  background-color: var(--background);
}

nav {
  /* max-width: 375px; */
  margin-left: auto;
  margin-right: auto;
}

section {
  /* max-width: 375px; */
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-left: auto;
  margin-right: auto;
  /* max-width: 375px; */
}

.container {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
}

.buy-btn,
.subscribe-btn {
  border: none;
  border-radius: 100px;

  color: var(--background);
  background-color: var(--orange);

  padding: 12px 28px;
}

.buy-btn:hover,
.subscribe-btn:hover {
  border: none;

  background-color: var(--hover);
  color: var(--orange);
  transition: background-color 100ms linear, color 100ms linear;
}

.how-btn {
  border: 1px, solid;
  padding: 12px 28px;
  border-radius: 100px;

  color: var(--background);
  border-color: var(--background);
}

.how-btn:hover {
  color: var(--orange);
  border-color: var(--orange);
  transition: color 100ms linear, border-color 100ms linear;
}

/* @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: url("photo@2x.png");
  }
} */

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

.header {
  display: flex;
  justify-content: space-between;
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.nav-desktop {
  display: none;
}

/* @media screen {
} */

.nav-logo-link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header .nav-logo-text {
  font-weight: 700;
}

.nav-logo-text > .nav-logo-span {
  font-style: italic;
  font-weight: 700;
}

.menu-toggle {
  stroke: #111;
}

.menu-toggle:hover {
  transition: stroke 100ms linear;
  stroke: var(--orange);
}

.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;

  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;

  transform: translateX(100%);
  transition: transform 200ms ease;

  /* background: rgba(0, 0, 0, 0.4); */
  backdrop-filter: blur(10px);
}

.nav-mobile.active {
  transform: translateX(0%);
}

.nav-mobile > .nav-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 220px;
  height: 812px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  background-color: var(--color1);
}

.nav-wrapper > .menu-close {
  position: absolute;
  top: 20px;
  right: 20px;

  stroke: white;
}

.menu-close:hover {
  transition: stroke 100ms linear;
  stroke: var(--orange);
}

.nav-wrapper > .nav-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 136px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 500;

  color: white;
}

.nav-menu-list .nav-link:hover {
  transition: color 100ms linear;
  color: var(--orange);
}

.nav-menu-list .nav-link::after {
  position: absolute;
  left: 0;
  bottom: -30%;
  content: "";
  border: 1px solid var(--orange);
  width: 30px;

  opacity: 0;
}

.nav-menu-list .nav-link:hover::after {
  transition: opacity 100ms linear;
  opacity: 1;
}

.nav-menu-list .nav-link {
  position: relative;
}

.nav-wrapper > .nav-social-list {
  position: absolute;
  bottom: 20px;

  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-social-list .nav-link {
  stroke: white;
}

.nav-link:hover::after {
  transition: stroke 200ms ease;
  stroke: var(--orange);
}

.nav-social-list svg:hover {
  stroke: var(--orange);
  transition: stroke 100ms linear;
}

.section.hero {
  width: 375px;
}

.hero-container {
  display: flex;
  align-items: flex-end;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 335px;
  height: 621px;
  padding: 20px;
  border-radius: 30px;

  background-image: url(42f245c284f7e20a7b6d.webp);
  background-size: 335px 621px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: url(1ea97a7d22aaccfef3d5.webp);
    background-size: 335px 621px;
  }
}

.hero-container > .hero-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 295px;
}

.hero-container .hero-text {
  width: 291px;

  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.6px;

  color: white;
}

.hero-content .hero-buttons {
  display: flex;
  gap: 14px;
}

.hero-buttons > .buy-btn,
.hero-buttons > .how-btn {
  font-weight: 600;
}

.hero-container .scroll-down {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 110px;
  height: 28px;
}

.scroll-down {
  color: white;
}

.scroll-down:hover > .span-text-scroll:first-child {
  color: var(--orange);
  transition: color 100ms linear;
}

.scroll-down:hover > .span-svg-scroll:nth-child(2) {
  background-color: var(--orange);
  transition: background-color 100ms linear;
}

.scroll-down:hover svg {
  fill: white;
  transition: fill 100ms linear;
}

.scroll-down > .span-text-scroll {
  font-size: 12px;
  font-weight: 500;
}

.scroll-down > .span-svg-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 28px;
  height: 28px;

  background-color: white;
}

.span-svg-scroll > svg {
  fill: var(--orange);
}

.section.advantages {
  margin-top: 71px;
  background-color: var(--color1);
  width: 375px;
  /* height: 758px; */
  padding: 20px;
}

.advantages-container {
  color: white;
}

.list-advantages {
  display: flex;
  flex-direction: column;
  gap: 18px;
  /* height: 718px; */
}

.list-advantages > li {
  padding-right: 28px;
}

.text-content {
  margin-top: 22px;
}

.list-advantages .list-title {
  margin-bottom: 18px;

  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.18px;
}

.advantages-container .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
}

.list-advantages .list-text {
  color: rgba(255, 255, 255, 0.7);

  line-height: normal;
  letter-spacing: -0.28px;
}

.section.unique-components {
  margin-top: 72px;
  margin-bottom: 72px;
  width: 375px;
}

.unique-components > .unique-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 335px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.unique-components > .unique-content > .unique-title {
  margin-left: auto;
  margin-right: auto;
  width: 283px;
  height: 72px;

  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
}

.unique-title > .unique-title-span {
  color: var(--orange);
}

.unique-content > .unique-text {
  text-align: center;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.unique-components > .list-ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.list-ingredients > .list-item-card {
  position: relative;

  display: flex;
  width: 335px;
  height: 270px;

  border-radius: 15px;
}

.list-ingredients .card-container {
  perspective: 1000px;
  position: relative;
}

.unique-card > .front-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 25px;
  gap: 25px;

  border-radius: 15px;

  background-color: var(--orange);

  backface-visibility: hidden;
}

.list-item-card:nth-of-type(2n + 1) .front-card {
  color: white;
}

.list-item-card:nth-of-type(2n) .front-card {
  background-color: white;
}

.list-item-card:nth-of-type(3) .front-card {
  background-color: var(--color1);
}

.front-card > .item-img {
  width: 224px;
  height: 171px;
  margin-left: auto;
  margin-right: auto;
}

.front-card > .title-front-card {
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.unique-card > .back-card {
  position: absolute;
  padding: 28px;
  border-radius: 15px;
  border: 1px solid var(--orange);

  transform: rotateY(180deg);

  background-color: white;

  backface-visibility: hidden;
}

.card-container > .unique-card {
  width: 335px;
  height: 270px;
  border-radius: 15px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-container > .unique-card:hover {
  transform: rotateY(180deg);
}

.back-card > .title-back-card {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.subtitle-back-card {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}

.subtitle-back-card > .subtitle:nth-of-type(1) {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 10px;
  line-height: 12px;

  padding: 6px 16px;
  border-radius: 35px;
  background-color: var(--orange);
}

.subtitle-back-card > .subtitle:nth-of-type(2) {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 12px;

  padding: 6px 16px;
  border-radius: 35px;
  border: 1px solid var(--orange);
  background-color: white;
}

.text-back-card {
  width: 279px;
  height: 146px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.section.how-its-made {
  width: 375px;
}

.flavor {
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: 20px 14px;
  width: 335px;

  background-color: white;
}

.title-flavor {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.flavor > .list-of-steps {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 20px;

  list-style: disc;
}

.flavor .list-item::marker {
  color: var(--marker);
  width: 8px;
  height: 8px;
}

.flavor .list-item {
  line-height: 18px;
  letter-spacing: -0.28px;
  /* width: 291px; */
  margin-left: 16px;
}

.section.how-its-made .video-chocolate {
  width: 335px;
  height: 500px;

  border-radius: 15px;
}

.section.how-its-made > .video-container {
  position: relative;

  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.how-its-made > .made-title {
  text-align: center;
  margin-bottom: 32px;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.made-title > span {
  color: var(--orange);
}

.video-container > .video-wrapper {
  position: absolute;
  z-index: 1;

  width: 335px;
  height: 500px;

  background-image: url(87a20a072d797448e180.webp);
}

.video-wrapper > svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.video-container > .video-wrapper:hover,
.video-container > .video-wrapper:focus {
  transition: display 100ms linear;
  display: none;
}

.section.our-products {
  width: 375px;
  margin-top: 72px;
}

.title-our-product {
  margin-bottom: 32px;

  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.title-our-product > .span-products {
  color: #fd9222;
}

.swiper {
  width: 335px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-wrapper > li {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 15px;

  background-color: white;
}

.swiper-slide > .item-img {
  width: 230px;
  height: 201px;
  margin-bottom: 8px;
  margin-top: 32px;

  object-fit: cover;
  object-position: bottom 50% right 1px;
}

.swiper-slide > .item-title {
  margin-bottom: 2px;

  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.36px;
}

.swiper-slide > .item-text {
  margin-bottom: 18px;

  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.24px;
}

.swiper-slide > .item-btn {
  padding: 8px 20px;
  margin-bottom: 52px;

  font-weight: 600;

  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
}

.our-products > .swiper-pagination {
  margin-top: 20px;
  position: static;
}

span.swiper-pagination-bullet {
  margin: 0;
  width: 13px;
  height: 13px;

  background-color: rgba(17, 17, 17, 0.1);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 15px;
  margin: 0;

  background-color: var(--orange);
}

.section.top-sellers {
  width: 375px;
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.title-sellers {
  margin-bottom: 32px;

  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.title-sellers > .span-top {
  color: var(--orange);
}

.top-sellers > img {
  border-radius: 15px;
}

.top-sellers > p {
  margin-top: 20px;
  margin-bottom: 32px;
  width: 306px;

  line-height: 18px;
  letter-spacing: -0.28px;
}

.top-sellers > .buy-btn {
  margin-top: 20px;
  width: 120px;
  margin-right: auto;
  margin-left: auto;
}

.section.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  margin-top: 72px;
}

.title-review {
  margin-bottom: 32px;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.title-review > .span-review {
  color: var(--orange);
}

.reviews > .review-btn {
  margin-top: 32px;
  padding: 12px 28px;
  display: block;

  font-weight: 600;

  border-radius: 100px;
  border: 1px solid #fd9222;
}

.reviews > .review-btn:hover {
  background-color: var(--orange);
  color: white;
  transition: background-color 100ms linear, color 100ms linear;
}

.review-swiper-pagination {
  position: static;
  display: flex;
  justify-content: center;
}

.review-swiper {
  position: relative;
  width: 335px;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

.review-swiper .swiper-slide {
  background-color: inherit;
}

.review-swiper .name {
  margin-bottom: 24px;
  margin-top: 56px;

  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.review-swiper .text {
  width: 299px;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.review-swiper img {
  position: absolute;
  top: 0;

  border-radius: 50%;
}

.review-swiper .review-container {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-end; */
  bottom: 0;
  border-radius: 15px;
  background-color: white;
  width: 335px;
  height: 200px;
  margin-top: 42px;
}

.section.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 370px;
  margin-top: 72px;

  background-image: url(327eb13f6644673f5465.webp);
}

.subscribe > .sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 335px;
  gap: 24px;
  flex-shrink: 0;
  margin: 62px;
}

.sub-container > .subscribe-title {
  width: 291px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.sub-container > .subscribe-text {
  width: 326px;
  color: #fff;
  text-align: center;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 440px;
  width: 375px;
  padding: 32px 20px;

  background-color: var(--color1);
}

.footer > .title-footer {
  width: 300px;
  margin-bottom: 32px;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.48px;
}

.title-footer > .span-footer {
  color: var(--orange);
}

.footer {
  color: white;
}

.footer-social-links a {
  stroke: white;
}

.link-footer {
  position: relative;
}

.link-footer > p {
  margin-bottom: 14px;
}

.link-footer > .footer-social-links {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  gap: 14px;
}

.link-footer > .footer-special-links {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 32px;
}

.footer-special-links > .item-list {
  position: relative;
}

.footer-special-links a::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 30px;
  content: "";
  border: 1px solid var(--orange);
  opacity: 0;
}

.footer-special-links a:hover::after {
  opacity: 1;
  transition: opacity 100ms linear;
}

.footer-special-links a:hover {
  color: var(--orange);
  transition: color 100ms linear;
}

.footer-social-links a:hover {
  stroke: var(--orange);
  transition: stroke 100ms linear;
}

.nav-footer {
  position: relative;
}

.nav-footer > .nav-footer-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 32px;
  width: 335px;
}

.nav-footer-item {
  position: relative;
}

.nav-footer-list a:hover {
  color: var(--orange);
  transition: color 100ms linear;
}

.nav-footer-list a::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 30px;
  content: "";
  border: 1px solid var(--orange);
  opacity: 0;
}

.nav-footer-list a:hover::after {
  opacity: 1;
  transition: opacity 100ms linear;
}

.nav-footer::before {
  position: absolute;

  width: 100%;
  height: 0;

  content: "";
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.subscribe-modal.-hidden {
  display: none;
}

.subscribe-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  z-index: 1;
  width: 311px;
  height: 350px;
  border-radius: 15px;

  background-color: white;
  overflow: hidden;
}

.subscribe-form > .subscribe-title {
  margin-top: 32px;
  margin-bottom: 24px;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.subscribe-form {
  padding-left: 24px;
  padding-right: 24px;
}

.subscribe-form span {
  color: var(--orange);
}

.subscribe-form input {
  margin-bottom: 32px;
  width: 263px;
  /* padding: 14px 18px; */
  border-radius: 25px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  padding-right: 115px;
}

.close-subscribe-modal {
  position: absolute;
  right: 14px;
  top: 15px;

  stroke: white;
}

.close-subscribe-modal:hover {
  stroke: var(--orange);
  cursor: pointer;
  transition: stroke 100ms linear;
}

.subscribe-form-send {
  position: absolute;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 14px 28px;

  background-color: var(--orange);
  color: white;
  border-radius: 100px;
}

.subscribe-form-send:hover {
  background-color: var(--hover);
  color: var(--orange);
  transition: background-color 100ms linear, color 100ms linear;
}

.subscribe-form > .subscribe-modal-input-wrapper {
  position: relative;
  display: flex;
}

.blur-modal-subscribe {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Dark overlay */
  backdrop-filter: blur(10px); /* Blur effect */
}

.review-modal.-hidden {
  display: none;
}

.review-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 1;

  width: 311px;
  height: 471px;
  padding: 32px 24px;

  border-radius: 15px;
  background-color: white;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.review-form > .review-title {
  width: 255px;
  margin-bottom: 32px;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.review-form span {
  color: var(--orange);
}

.review-form input,
.review-form textarea {
  width: 100%;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  padding: 14px 18px;
  resize: none;
}

.close-review-modal {
  position: absolute;
  top: 15px;
  right: 14px;

  stroke: black;
}

.close-review-modal:hover {
  stroke: var(--orange);
  cursor: pointer;
  transition: stroke 100ms linear;
}

.review-form-btn {
  padding: 12px 28px;
  border-radius: 100px;
  background-color: var(--orange);
  color: white;
}

.review-form-btn:hover {
  background-color: var(--hover);
  color: var(--orange);
  transition: background-color 100ms linear, color 100ms linear;
}

.review-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.review-input-wrapper > span {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 18px;
  color: black;
  gap: 8px;
}

.review-input-wrapper > p {
  font-weight: 500;
  letter-spacing: -0.28px;
}

.review-input-wrapper > span::after {
  content: "";
  height: 20px;
  border: 1px solid rgba(64, 64, 64, 0.3);
}

.review-input-wrapper > .review-phone-input {
  padding-left: 110px;
}

.blur-modal-review {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Dark overlay */
  backdrop-filter: blur(10px); /* Blur effect */
}

.buy-now-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 2;

  padding: 32px 24px;
  margin: auto;
  width: 311px;
  height: 90%;

  border-radius: 15px;
  background-color: var(--background);
  overflow: auto;
  scrollbar-width: thin;
}

.buy-now-modal.-hidden {
  display: none;
}

.buy-now-modal > .buy-now-title {
  margin-bottom: 32px;

  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.buy-now-title > span {
  color: var(--orange);
}

.buy-now-modal > .buy-now-form {
  display: flex;
  flex-direction: column;
}

.item-choco > .item-button {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: flex-start;

  font-weight: 600;

  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
}

.choco-list > .item-choco {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  width: 100%;

  padding: 8px 16px;
  margin: auto;

  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
}

.choco-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.item-choco:first-child > .chocho-img {
  background-image: url(5db6bc639bd8d6cb9e75.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 84px;
  height: 69px;
}

.item-choco:nth-child(2) > .chocho-img {
  background-image: url(c48e7d564a5a92a8fde4.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 84px;
  height: 69px;
}

.item-choco:last-child > .chocho-img {
  background-image: url(c065a68d20a191e32ddc.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 84px;
  height: 69px;
}

.buy-now-form .buy-input {
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  padding: 14px 18px;
  margin-bottom: 18px;
}

.buy-now-form > .buy-input:first-of-type {
  margin-bottom: 14px;
}

.buy-now-form > .label-text {
  margin-bottom: 8px;
}

.buy-now-form > .buy-comment {
  padding: 14px 18px 60px 18px;

  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  resize: none;
}

.buy-now-button {
  position: relative;
  border-radius: 100px;
  width: 109px;
  background-color: var(--orange);
  padding: 12px 28px;
  color: white;
  margin-top: 14px;
}

.buy-now-button:hover {
  background-color: var(--hover);
  color: var(--orange);
  transition: background-color 100ms linear, color 100ms linear;
}

.buy-now-modal > .close-buy-modal {
  position: absolute;
  right: 14px;
  top: 14px;
  stroke: black;
}

.buy-now-modal > .close-buy-modal:hover {
  cursor: pointer;
  stroke: var(--orange);
  transition: stroke 100ms linear;
}

.label-input-phone-wrapper {
  position: relative;
  display: flex;
  /* align-items: center; */
}

.label-input-phone-wrapper > span {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 18px;
  margin-top: 14px;
}

.label-input-phone-wrapper > span::after {
  content: "";
  border: 1px solid rgba(64, 64, 64, 0.3);
  height: 20px;
}

.label-input-card-wrapper {
  position: relative;
}

.label-input-phone-wrapper > .buy-input {
  padding-left: 100px;
  width: 100%;
}

.label-input-card-wrapper > span {
  position: absolute;
  right: 18px;
  top: 15px;
}

.label-input-card-wrapper > .buy-input {
  width: 100%;
  padding-right: 50px;
}

.blur-modal-buy {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* Dark overlay */
  backdrop-filter: blur(10px); /* Blur effect */
}


/*# sourceMappingURL=app.css.map*/