@import "../node_modules/modern-normalize/modern-normalize.css";

:root {
  --color: #111;
  --color1: #1e1823;
  --background: #fafafa;
  --orange: #fd9222;
  --hover: #fcf1e0;
  --marker: #4c4c4c;
}

/* 400 */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 500 */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 600 */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* 700 */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 700 */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  padding: 0;

  list-style-type: none;
}

a {
  text-decoration: none;

  color: inherit;
}

button {
  border: none;
  padding: 0;

  background-color: inherit;
}

button:hover {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;

  background-color: var(--background);
}

nav {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

section {
  /* max-width: 375px; */
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-left: auto;
  margin-right: auto;
  /* max-width: 375px; */
}

.container {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
}

.buy-btn,
.subscribe-btn {
  border: none;
  border-radius: 100px;

  color: var(--background);
  background-color: var(--orange);

  padding: 12px 28px;
}

.buy-btn:hover,
.subscribe-btn:hover {
  border: none;

  background-color: var(--hover);
  color: var(--orange);
  transition: background-color 100ms linear, color 100ms linear;
}

.how-btn {
  border: 1px, solid;
  padding: 12px 28px;
  border-radius: 100px;

  color: var(--background);
  border-color: var(--background);
}

.how-btn:hover {
  color: var(--orange);
  border-color: var(--orange);
  transition: color 100ms linear, border-color 100ms linear;
}

/* @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: url("photo@2x.png");
  }
} */

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
