.header {
  display: flex;
  justify-content: space-between;
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.nav-desktop {
  display: none;
}

/* @media screen {
} */

.nav-logo-link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header .nav-logo-text {
  font-weight: 700;
}

.nav-logo-text > .nav-logo-span {
  font-style: italic;
  font-weight: 700;
}

.menu-toggle {
  stroke: #111;
}

.menu-toggle:hover {
  transition: stroke 100ms linear;
  stroke: var(--orange);
}

.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;

  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;

  transform: translateX(100%);
  transition: transform 200ms ease;

  /* background: rgba(0, 0, 0, 0.4); */
  backdrop-filter: blur(10px);
}

.nav-mobile.active {
  transform: translateX(0%);
}

.nav-mobile > .nav-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 220px;
  height: 812px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  background-color: var(--color1);
}

.nav-wrapper > .menu-close {
  position: absolute;
  top: 20px;
  right: 20px;

  stroke: white;
}

.menu-close:hover {
  transition: stroke 100ms linear;
  stroke: var(--orange);
}

.nav-wrapper > .nav-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 136px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 500;

  color: white;
}

.nav-menu-list .nav-link:hover {
  transition: color 100ms linear;
  color: var(--orange);
}

.nav-menu-list .nav-link::after {
  position: absolute;
  left: 0;
  bottom: -30%;
  content: "";
  border: 1px solid var(--orange);
  width: 30px;

  opacity: 0;
}

.nav-menu-list .nav-link:hover::after {
  transition: opacity 100ms linear;
  opacity: 1;
}

.nav-menu-list .nav-link {
  position: relative;
}

.nav-wrapper > .nav-social-list {
  position: absolute;
  bottom: 20px;

  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-social-list .nav-link {
  stroke: white;
}

.nav-link:hover::after {
  transition: stroke 200ms ease;
  stroke: var(--orange);
}

.nav-social-list svg:hover {
  stroke: var(--orange);
  transition: stroke 100ms linear;
}
