.section.unique-components {
  margin-top: 72px;
  margin-bottom: 72px;
  width: 375px;
}

.unique-components > .unique-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 335px;
  height: 204px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.unique-components > .unique-content > .unique-title {
  margin-left: auto;
  margin-right: auto;
  width: 283px;
  height: 72px;

  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.6px;
}

.unique-title > .unique-title-span {
  color: var(--orange);
}

.unique-content > .unique-text {
  text-align: center;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.unique-components > .list-ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.list-ingredients > .list-item-card {
  position: relative;

  display: flex;
  width: 335px;
  height: 270px;

  border-radius: 15px;
}

.list-ingredients .card-container {
  perspective: 1000px;
  position: relative;
}

.unique-card > .front-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 25px;
  gap: 25px;

  border-radius: 15px;

  background-color: var(--orange);

  backface-visibility: hidden;
}

.list-item-card:nth-of-type(2n + 1) .front-card {
  color: white;
}

.list-item-card:nth-of-type(2n) .front-card {
  background-color: white;
}

.list-item-card:nth-of-type(3) .front-card {
  background-color: var(--color1);
}

.front-card > .item-img {
  width: 224px;
  height: 171px;
  margin-left: auto;
  margin-right: auto;
}

.front-card > .title-front-card {
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.unique-card > .back-card {
  position: absolute;
  padding: 28px;
  border-radius: 15px;
  border: 1px solid var(--orange);

  transform: rotateY(180deg);

  background-color: white;

  backface-visibility: hidden;
}

.card-container > .unique-card {
  width: 335px;
  height: 270px;
  border-radius: 15px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-container > .unique-card:hover {
  transform: rotateY(180deg);
}

.back-card > .title-back-card {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

.subtitle-back-card {
  display: flex;
  gap: 6px;
  margin-bottom: 14px;
}

.subtitle-back-card > .subtitle:nth-of-type(1) {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 10px;
  line-height: 12px;

  padding: 6px 16px;
  border-radius: 35px;
  background-color: var(--orange);
}

.subtitle-back-card > .subtitle:nth-of-type(2) {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 12px;

  padding: 6px 16px;
  border-radius: 35px;
  border: 1px solid var(--orange);
  background-color: white;
}

.text-back-card {
  width: 279px;
  height: 146px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}
